{% extends 'SeriesUY/base.html' %}
{% load static %}

<title>{% block titulo %}Crear venta{% endblock %}

{% block contenido %}
<style>
    .container {
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .btn-custom {
        margin-top: 15px;
    }

    .btn-custom a {
        text-decoration: none;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="mb-4">{{ view.object|default:"Crear venta" }}</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <style>
                    input[type="text"], input[type="url"], select, textarea {
                        border: 2px solid #ccc;
                        border-radius: 5px;
                        padding: 10px;
                        width: 100%;
                        font-size: 16px;
                        margin-bottom: 15px;
                        transition: border-color 0.3s ease-in-out;
                    }

                    input[type="text"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
                        border-color: #007bff;
                        outline: none;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    }
                </style>
                <button type="submit" class="btn btn-primary btn-lg btn-custom">Enviar</button>
            </form>
            <div class="mt-3">
                <a href="{% url 'venta_list' %}" class="btn btn-outline-secondary btn-lg">Volver</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}