{% extends 'SeriesUY/base.html' %}
{% load static %}

<title>{% block titulo %}Tu Tienda{% endblock %}</title>

{% block contenido %}
<style>
    .container {
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 10px;
    }

    .post-item {
        background-color: #f8f9fa;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .post-item a {
        text-decoration: none;
        color: #007bff;
    }

    .post-item a:hover {
        color: #0056b3;
    }

    .btn-custom {
        margin-top: 10px;
    }

    .btn-custom a {
        text-decoration: none;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="mb-4">Tu Tienda</h1>
            <a href="{% url 'venta_new' %}" class="btn btn-success btn-custom">Vender</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for venta in ventas %}
                    <li class="post-item list-group-item">
                        <h5><a href="{% url 'venta_detail' venta.id %}">{{ venta.nombre }}</a></h5>
                        <p>{{ venta.descripcion }}</p>
                        <p class="text-muted">{{venta.pub_date }}</p>
                        <div class="btn-group">
                            <a href="{% url 'venta_update' venta.id %}" class="btn btn-primary btn-sm text-white">Editar</a>
                            <a href="{% url 'venta_delete' venta.id %}" class="btn btn-danger btn-sm text-white">Eliminar</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
