<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <style>
      body {
          background-image: url("{% static 'img/fondo.jpg' %}");
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
      }
  </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">SeriesUY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuarios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cargar_usuario' %}">Agregar usuario</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_usuarios' %}">Listar usuarios</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Series
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cargar_serie' %}">Agregar serie</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_series' %}">Listar serie</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Plataformas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cargar_plataforma' %}">Agregar plataforma</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_plataformas' %}">Listar plataformas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'buscar' %}">Buscar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Feed
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'post_list' %}">Tu Feed</a></li>
              <li><a class="dropdown-item" href="{% url 'post_new' %}">Crea un post</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tienda
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'venta_list' %}">Tus ventas</a></li>
              <li><a class="dropdown-item" href="{% url 'venta_new' %}">Crea una venta</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link">Cerrar sesión</button>
            </form>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
       
<div class="container">
    {% block contenido %}

    {% endblock %}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
