<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <style>
      body {
          background-image: url("{% static 'img/fondo.jpg' %}");
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
      }
  </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">SeriesUY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clientes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cargar_usuario' %}">Agregar clientes</a></li>
              {% if user.is_staff %}
                  <li><a class="dropdown-item" href="{% url 'lista_usuarios' %}">Listar clientes</a></li>
              {% endif %}
          </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Series
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'cargar_serie' %}">Agregar serie</a></li>
                  {% if user.is_staff %}
                      <li><a class="dropdown-item" href="{% url 'lista_series' %}">Listar serie</a></li>
                  {% endif %}
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plataformas
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'cargar_plataforma' %}">Agregar plataforma</a></li>
                  {% if user.is_staff %}
                      <li><a class="dropdown-item" href="{% url 'lista_plataformas' %}">Listar plataformas</a></li>
                  {% endif %}
              </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'buscar' %}">Buscar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Feed
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'post_list' %}">Tu Feed</a></li>
              <li><a class="dropdown-item" href="{% url 'post_new' %}">Crea un post</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tienda
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'venta_list' %}">Tus ventas</a></li>
              <li><a class="dropdown-item" href="{% url 'venta_new' %}">Crea una venta</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Acerca de mi</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mi Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'perfil' %}">Ver Perfil</a></li>
              <li>
                <div class="dropdown-divider"></div> 
                <li>
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item text-danger">
                      Cerrar sesión
                    </button>
                  </form>
                </li>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <p class="nav-link text-white mb-0">Usuario: <span class="fw-bold">{{ user.username }}</span></p>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
          </li>
        {% endif %}
        
        </ul>
      </div>
    </div>
  </nav>
       
<div class="container">
    {% block contenido %}

    {% endblock %}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
