{% extends 'SeriesUY/base.html' %}
{% load static %}

<title>{% block titulo %}Lista de Series{% endblock %}</title>
{% block contenido %}
<style>
    .container{
      background-color: rgb(255, 255, 255);
      padding: 10px;
      border-radius: 10px;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="mb-4">Lista de Series</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for serie in series %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ serie.titulo }}</span>
                        <span class="badge bg-info text-light">{{ serie.puntuacion }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <a href="{% url 'cargar_serie' %}" class="btn btn-success me-2">Agregar Serie</a>
            <a href="{% url 'index' %}" class="btn btn-outline-danger">Volver al Inicio</a>
        </div>
    </div>
</div>
{% endblock %}
